@charset "utf-8";
/* CSS Document */

* {
	margin: 0 auto;
	padding: 0;
}
img {
	vertical-align: bottom;
}
body {
	background: #FFF;
}


#side {
	background: #FFF;
	width: 200px;
	/*float: left;*/
	position: fixed;
    top: 0;
    left: 0;
}
#contents {
	padding-left: 200px;
}
.banner img,
#main_image img {
	width: 100%;
}
.main {
	background: #f2f3f7;
}
.wrap {
	width: 1000px;
	margin: 0 auto;
}
.topics {
	/*background: #e5e5e5;*/
	padding: 60px 0 100px;
	text-align: center;
	position: relative;
}
#c {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
    opacity: .5;
	z-index: 2;
}
.topics_img {
    position: inherit;
	z-index: 100;
}

#footer {
	background: url(../images/bg_footer.jpg) repeat-x;
}



.clearfix { /zoom : 1;}
.clearfix:after {
	content : '';
	display : block;
	clear : both;
}